body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    width: 500px;
}

h1 {
    text-align: center;
    color: #A0522D;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input, .form-group select {
    flex: 2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #FFEDAF;
}

.form-group select {
    width: 100%;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #87CEFA;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover {
    background-color: #4682B4;
}
